body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#303030;
  color: white;
}

/* global */
/* dot for class, # for id*/
.container{
  width: 86%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

.sub_button{
  height:38px;
  background:#e8491e;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

/* header */
header{
  background: #808080;
  padding-top: 10px;
  padding-bottom: 10px;
  /* min-height: 40px; */
  border-bottom:#e8491e 4px solid;
}

/* links in header */
header a{
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* list items in header */
header li{
   float: left;
   display: inline;
            /* top right bottom left */
   padding: 0 20px 0 20px;
}

/* moving header intro to the left */
header #intro{
  float: left;
}
header #intro h1{
  margin:0;
}

/* moving nav to the right */
header nav{
  float: left;
}

/* add class="current" to a link to make it bold on current page */
header .highlight, header .current a{
  color: #ffa133;
  font-weight: bold;
}

/* link hover effects */
header a:hover{
  color: #ffd29e;
}

/* showcase */
#showcase{
  min-height: 280px;
  background: url('../img/motherboard-background.png') no-repeat 0 -400px;
  text-align:center;
  padding: 0 0 40px 0;
}

#showcase h1{
  margin-top:50px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

#showcase img{
  width:200px;
}

/* subscribe section */
#subscribe{
  padding: 15px;
  background: #808080;
}
#subscribe h1{
  float: left;
}
#subscribe form{
  float: right;
  margin-top: 17px;
}

#subscribe input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* contact info section */
#contact{
  padding: 15px;
  background: #808080;
}
#contact h1{
  margin-top:10px;
  font-size:40px;
  margin-bottom:10px;
}
#contact p{
  font-size:17px;
}

/* site implementation boxes*/
#boxes{
  margin-top:20px;
}

#boxes h1{
  margin: 0 auto;
  text-align: center;
  font-size:20px;
  margin-bottom: 10px;
}

#boxes .box{
  display: inline-block;
  text-align: center;
  width:47%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

/* textsection */
#textsection{
  margin-top:20px;
}

#textsection .section{
  margin: 0 auto;
  text-align: center;
  width:80%;
  padding:10px;
}

/* project boxes*/
#projects{
  margin-top:20px;
}

#projects .box{
  display: inline-block;
  text-align: center;
  width:30%;
  padding:10px;
}

#projects .box img{
  width:200px;
}

#projects a{
  color: #ffa133;
  text-decoration: none;
  font-size: 18px;
}

#projects a:hover{
  color: #ffd29e;
}

/* footer */
footer{
  padding:20px;
  margin-top:20px;
  background-color:#e8491e;
  text-align: center;
}
